{{extend 'template.html'}}

<div class="row-fluid">
    <div style="overflow:auto;" class="well">
        <h1>Vision</h1>The student of the Faculty of Engineering of the University of San Carlos de Guatemala will be recognized as a senior professional, based on the knowledge incorporated in the curriculum of studies to train students holistically giving them the appropriate tools for his professional development

        <h1>Mission</h1>Develop in the student the competences that guarantee the successful in building the knowledge through the different learning styles and foster permanent research to enable a better quality of life to the community. Taking into account the options of the current market in the country (logistics, administration, information technology, finance, accounting, commercial, etc.), and also the international market, do to nowadays high global demand and competitiveness.

        <h1>General objectives</h1>

        <ol>
            <li>Provide appropriate training to enable the professional to help Guatemala´s development, through the application of functional expertise in the areas of computing and systems.</li>

            <li>Build a culture of change and adaptation to enable the graduate to self educate on a permanent basis. Been able to identify the need of change both personally and professionally within the organization in which participates, to analyze and design solutions and successfully implement them.</li>

            <li>Provide students with the knowledge and skills needed to interact effectively with all members of the organization, encouraging the use of technology, application systems and tools promoting internal improvement processes.</li>

            <li>Update the curriculum of studies including the latest developments in each of the different technologies related to the fields of action of computing and information technology, as well as the application of the techniques of systems engineering.</li>
        </ol>

        <h1>Knowledge</h1><small>General knowledge:</small> where general academic science are considered, interpersonal relations and English language.<br>
        <br>
        <small>Specific Knowledge:</small> science concerning their specialty, which covers computer science, systems methodology and development of information systems.
        
        <h1>Skills</h1>

    <ol>
        <li>Problem solving: holistic view of the problems considering all the elements involved, using a systematic approach</li>

        <li>Generalization: Ability to generalize solutions and learn from their experience.</li>

        <li>Interpersonal relationships: to persuade business, teamwork, present a project with clarity and precision, and work under pressure.</li>

        <li>Resource Management: Achieving results, consensus of actions around the plans to carry out a rational decision-making process.</li>

        <li>Abstraction: Ability to model and interpret abstract variables.</li>

        <li>Self-learning: Knowing what to look for, how to look, where to look, how to search and when the need arises for new learning.</li>

        <li>Analysis and Synthesis: Skill management useful tools for the needs you have and synthesize the most important factors for consideration.</li>
    </ol>

    <h1>Aptitudes</h1>

    <ol>
        <li>Sort and methodical.</li>

        <li>Ability to work under clearly defined objectives.</li>

        <li>Responsable.</li>

        <li>Researcher</li>

        <li>Environmentally friendly.</li>

        <li>Auto adaptable to the environment in which it operates.</li>

        <li>Effective and efficient.</li>

        <li>Open to understand other viewpoints.</li>

        <li>To distinguish facts, opinions, beliefs and values.</li>

        <li>Self esteem.</li>

        <li>Be ready to learn the basic principles of the multiple disciplines with which I could get to be related (Multidisciplinary)</li>
    </ol>
    
    <h1>Statistics</h1>
    <ol>
    <li>About 600 people sign up to this career anually.</li>
    <li>375 persons achieve the professional courses.</li>
    <li>It takes 7 years, average, to complete the pensum.</li>
    <li>In one year, 35 persons get graduated. (Average)</li>
    </ol>
    </div>
</div>
