{{extend 'template.html'}}

{{
#CERODAS: Dependiendo del encabezado se le da el comportamiento
if ((request.args(0) == 'request_reset_password') and (
        (request.vars['message']=='NOT_RESULT') or
         (request.vars['message']=='NOT_DATA') or
        (request.vars['message'] is None)
        )) :
    Tittle = 'PASO 1: Verificación de usuario'
    else:
    if ( (request.args(0) == 'request_reset_password') and (request.vars['message']=='UPDATED')):
        Tittle = 'PASO 2: ' + T(request.args(0).replace('_',' ').capitalize())
    else:
        Tittle = T(request.args(0).replace('_',' ').capitalize())
    pass
pass
}}
<h2>
    {{=T( Tittle )}}
</h2>

<div>
{{
#CERODAS 1: Si es recuperacion de pass con data actualizada entonces el formulario normal
if ( (request.args(0) == 'request_reset_password') and
        (request.vars['message']=='UPDATED')
    ):
    =form
    }}
    <script language="javascript">
        var text = "{{=session.username}}";
        $( "#auth_user_username" ).val(text);
    </script>
    {{
    pass
#CERODAS 1: Si no es solicitud de recuperacion de pass se toma el form default del controlador.
if (request.args(0) != 'request_reset_password'):
    if request.args(0)=='login':
        if not 'register' in auth.settings.actions_disabled:
            form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
        pass
        if not 'request_reset_password' in auth.settings.actions_disabled:
            form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
        pass
    pass

    if request.args(0) == 'profile':
        if auth.has_membership('Academic') or auth.has_membership('Student'):}}
           <div class="alert"  style="width:90%;" id="notice_1">



                    {{review = db((db.photo_review.user_id == auth.user.id)).select().first()
                    if review is None:
                        }}<center><font color="blue"> {{=T('Pending Photo')}}</font><br>
                        {{=T('Remember that photography is for academic use; therefore must be commensurate with the seriousness of the case, otherwise it will be blocked.')}}
                        </center>
                    {{else:
                        if review.accepted == True:
                            }}<center><font color="green">{{=T('Photo Accepted')}}</font></center>
                        {{else:
                            }}<center><strong><font color="red">¡{{=T('Photo Rejected')}}, {{=T('please enter a new photo')}}!</font></strong><br>
                            {{=T('Remember that photography is for academic use; therefore must be commensurate with the seriousness of the case, otherwise it will be blocked.')}}
                            </center>
                        {{pass
                    pass
                    }}




            </div>
        {{pass
    pass

    =form

    if (request.args(0) == 'profile')&(auth.has_membership('Teacher')):}}
        <script type="text/javascript">
            $("#auth_user_photo__label").replaceWith("<a class='btn btn-success' href='{{=URL('default','user/profile' , vars=dict(edit_foto=True) )}}'>{{=T('Active Photo Edit')}}</a>");
        </script>
    {{
    pass
    pass

#CERODAS 1: SI ES RECUPERAR PASS SE DA UNA NUEVA FUNCIONALIDAD CON UN FORMULARIO PERSONALIZADO
#CERODAS 1: SE DEBE VERIFICAR SI NUNCA HA INGRESADO PARA LA NUEVA FUNCIONALIDAD SINO DEBE LLAMARSE EL METODO GENERAL
else:
    if (
        (request.vars['message']=='NOT_RESULT') or
         (request.vars['message']=='NOT_DATA') or
        (request.vars['message'] is None)
        ):
    }}
    <form enctype="multipart/form-data" action="{{=URL('GetUserUpdateData')}}">
    <b>{{=T('Username')}}: </b><input name="Username" id="Username" />
    <input type="submit" name="ok" value="{{=T('Verificar')}}" />
    </form>
    {{
    pass
pass
}}
    
    
</div>
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>
