<!-- Codigo Modulo quiz. Autor Dayton Garica  -->
<td width="20%"
{{if var_do==True:}}
    data-step="{{step_count+=1}}{{=step_count}}" data-intro="Al seleccionar esta opcion podra crear una nueva actividad de tipo quiz"
{{pass}}
>
    <center>
        <a class="btn" href="{{=URL('quiz', 'home_quiz', vars=dict( project = course.user_project.project, period=periodo.id))}}" style="height:32px; width:32px;">
            <img src="{{=URL('static','images')}}/academic_control/quiz.png" height="32" width="32">
        </a><br>
        <a  href="{{=URL('quiz', 'home_quiz', vars=dict(project = course.user_project.project, period=periodo.id))}}">
            Evaluaciones
        </a>
    </center>
</td>
<!-- Finaliza Codigo Modulo quiz. Autor Dayton Garica  -->